/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    background-color: #343a40;
}

.pad-top-3rem {
    padding-top: 3rem;
}

.hidden {
    display: none !important;
}

.prem-item {
	font-size: 0.75rem;
}

main {
	background-color: #506df9;
	font-family: 'Cinzel Decorative', cursive;
	font-weight:800;
}

h2{
	background-color: orange;
	font-weight: 500;
}

h3 {
	font-size: 0.875rem;
}

footer {
	color: #fff;
}