/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    background-color: #343a40;
}

.pad-top-3rem {
    padding-top: 3rem;
}

.hidden {
    display: none !important;
}

/*.prem-item {
	font-size: 0.75rem;
}*/

h3 {
	font-size: 0.75rem;
}

main {
	background-color: #506df9;
	font-family: 'Cherry Cream Soda', cursive;
}

footer {
	color: #fff;
}

#crust-choice-container {
	background-color: orange;
}